{% block content %}
<div class="container-fluid">
	<div class="row">

			<div class="panel panel-default">
				<div class="panel-body">
					<div class="page-header">
						{% if alias == 'grille' %}
							<div class="alert alert-warning">
							  <h4>Avant l'importation</h4>
							  Votre fichier doit-être enregistré au format CSV et doit contenir les 10 colonnes suivantes dans cet ordre:
							  <ul>
								  <li>Code machine</li>
								  <li>Description</li>
								  <li>Loyer 1j</li>
								  <li>Loyer 2-5j</li>
								  <li>Loyer 6-15j</li>
								  <li>Loyer > 15j</li>
							  </ul>
							</div>								
						{% endif %}
								<form role="form" action="{{ path('avro_csv_import_mapping', {'alias': alias}) }}" method="post" {{ form_enctype(form) }}>
									<div id="error-container"></div>								
										<div class="form-group">						  
											<div class="input-group">
											  <label for="separateur">Séparateur de colonne</label>
											  {{ form_widget(form.delimiter, { 'attr' : { 'class' : 'form-control' } })  }}
											</div>    					
										</div>					
										<div class="form-group">						
											{{ form_row(form.file) }}
											{{ form_row(form.filename) }}	
											<button type="submit" class="btn btn-primary pull-right"><i class="icon-arrow-right icon-white"></i> Etape suivante >>></button><br>												
										</div>						
										{{ form_widget(form._token) }}		
								</form>
					</div>
				</div>
				<div class="panel-footer">
				</div>
			</div>

	</div>
</div>
{% endblock %}