 
{% block User_body %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			<h3>Votre profil</h3>
		</h3>
	</div>
	<div class="panel-body">
			<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
			 <fieldset> 
			{{ form_errors(form) }}	 
				{# Les erreurs générales du formulaire. #}
				{{ form_errors(form) }}

			<div class="row clearfix">
				<div class="col-md-10 column">	
					<div class="form-group">
					  <div class="col-md-12">
						<div class="input-group">
						  <span class="input-group-addon large">Crédits</span>
						  {{ form_widget(form.credits, { 'attr' : { 'class' : 'form-control' } })  }}
						</div> 
					  </div>
					  {{ form_errors(form.credits) }}
					</div>
				</div>
				<div class="col-md-2 column">

				</div>
			</div>

			<br>
				
			<div class="form-group">
			  <div class="col-md-12">
				<div class="input-group">
				  <span class="input-group-addon large">Nom d'utilisateur</span>
				  {{ form_widget(form.username, { 'attr' : { 'class' : 'form-control' } })  }}
				</div>    
			  </div>
			  {{ form_errors(form.username) }}
			</div>

			<br><br>

			<div class="form-group">
			  <div class="col-md-12">
				<div class="input-group">
				  <span class="input-group-addon large">Adresse email</span>
				  {{ form_widget(form.email, { 'attr' : { 'class' : 'form-control' } })  }}
				</div>    
			  </div>
			 {{ form_errors(form.email) }}
			</div>

			<br><br>

			<div class="form-group">
			  <div class="col-md-12">
				<div class="input-group">
				  <span class="input-group-addon large">Mot de passe</span>
				  {{ form_widget(form.current_password, { 'attr' : { 'class' : 'form-control' } })  }}
				</div>    
			  </div>
			 {{ form_errors(form.current_password) }} 
			</div>

			<br><br>

			<div class="form-group">
			  <div class="col-md-12">
				<div class="input-group">
				  <span class="input-group-addon large">Nom</span>
				  {{ form_widget(form.nom, { 'attr' : { 'class' : 'form-control' } })  }}
				</div>    
			  </div>
			  {{ form_errors(form.nom) }} 
			</div>

			<br><br>

			<div class="form-group">
			  <div class="col-md-12">
				<div class="input-group">
				  <span class="input-group-addon large">Prénom</span>
				  {{ form_widget(form.prenom, { 'attr' : { 'class' : 'form-control' } })  }}
				</div>    
			  </div>
			  {{ form_errors(form.prenom) }} 
			</div>

			<br><br>
				
			<div class="form-group">
			  <div class="col-md-12">
				<div class="input-group">
				  <span class="input-group-addon large">Nom de votre société</span>
				  {{ form_widget(form.usersociete, { 'attr' : { 'class' : 'form-control' } })  }}
				</div>    
			  </div>
			 {{ form_errors(form.usersociete) }}  
			</div>

			<br><br>
				
				{{ form_row(form._token) }}
				<div>
					<input type="submit" class="btn btn-primary" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
				</div>
			 </fieldset>
			</form>	
	</div>
</div>

{% endblock %}