
{# src/Bacloo/CrmBundle/Resources/views/Blog/search.html.twig #}
{% extends "BaclooCrmBundle::layout.html.twig" %}
{% block body %}
	<div class="row clearfix">
		<div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1default" data-toggle="tab"><h5>Profil</h5></a></li>
                    <li><a href="#tab2default" data-toggle="tab"><h5>Missions</h5></a></li>
                    <li><a href="#tab3default" data-toggle="tab"><h5>A venir</h5></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade" id="tab2default">
                            {#Affichage mission#}                        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Liste des missions à postuler
                                </h3>
                            </div>
                            <div class="panel-body"> 
                            {% set compteur = 0 %}
                            <table>
                            {% for mission in missions1 %}
                                {% set compteur = compteur +1 %}
                                {% if compteur == 1 %}
                                <tr><td width="528">                    
                                {% else %}
                                <td width="528">
                                {% endif %}                          
                                <div class="panel panel-default">
                                    <div style="height:270px"class="panel-body">
                                    <table cellpadding="4" style="font-size:18px;">
                                            <tr>
                                                <td colspan="3"> 
                                                    <center><h3><b>{{mission.titre}}</b></h3></center>                                                                                  
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{mission.datedebut}}
                                                </td>
                                                <td style="width:15px"></td>
                                                <td>
                                                    {{mission.adresse}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{mission.datefin}}
                                                </td>
                                                <td style="width:15px"></td>
                                                <td>
                                                    {{mission.codepostal}}
                                                </td>
                                            </tr>    
                                            <tr>
                                                <td>
                                                    {{mission.description}}
                                                </td>
                                                <td style="width:15px"></td>
                                                <td>
                                                    {{mission.ville}}
                                                </td>
                                            </tr>          
                                            <tr>
                                                <td>
                                                    {{mission.dresscode}}
                                                </td>
                                                <td style="width:15px"></td>
                                                <td>
                                                    {{mission.raisonsociale}}
                                                </td>
                                            </tr>                             
                                    </table>
                                    </div>
                                    {% set compteur1 = 0 %}
                                    {% for missions in missionpostule %}
                                        {% if missions.missionid == mission.id and missions.postule == 1 %}
                                            {% set compteur1 = 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if compteur1 == 0 %}
                                            <center><span><a type="button" class="btn btn-success" 
                                            href="{{ path('bacloocrm_postulermission', {'id': mission.id}) }}">Postuler</span></a></span></center>
                                    {% else %}
                                            <center><span>Déjà postulé</span></center>
                                    {% endif %}
                                </div>
                                {% if compteur == 3 %}
                                </td>
                                </tr> 
                                {% set compteur = 1 %}  
                                
                                {% else %}
                                </td>
                                    {% if compteur == 1 or compteur == 2 %}
                                    <td width="15">
                                    </td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            </table>
                            <br><br>
                            {% set compteur = 0 %}
                            <table>
                            {% for mission in missions0 %}
                                {% set compteur = compteur +1 %}
                                {% if compteur == 6 %}
                                <tr>                              
                                {% else %}
                                <td width="528">
                                {% endif %}                               
                                <div class="panel panel-default">
                                    <div style="height:270px"class="panel-body">
                                    <table cellpadding="4" style="font-size:18px;">
                                            <tr>
                                                <td colspan="3"> 
                                                    <center><h3><b>{{mission.titre}}</b></h3></center>                                                                                  
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{mission.datedebut}}
                                                </td>
                                                <td style="width:15px"></td>
                                                <td>
                                                    {{mission.adresse}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{mission.datefin}}
                                                </td>
                                                <td style="width:15px"></td>
                                                <td>
                                                    {{mission.codepostal}}
                                                </td>
                                            </tr>    
                                            <tr>
                                                <td>
                                                    {{mission.description}}
                                                </td>
                                                <td style="width:15px"></td>
                                                <td>
                                                    {{mission.ville}}
                                                </td>
                                            </tr>          
                                            <tr>
                                                <td>
                                                    {{mission.dresscode}}
                                                </td>
                                                <td style="width:15px"></td>
                                                <td>
                                                    {{mission.raisonsociale}}
                                                </td>
                                            </tr>                              
                                    </table>
                                    </div>
                                    {% set compteur1 = 0 %}
                                    {% for missions in missionpostule %}
                                        {% if missions.missionid == mission.id and missions.postule == 1 %}
                                            {% set compteur1 = 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if compteur1 == 0 %}
                                            <center><span><a type="button" class="btn btn-success" 
                                            href="{{ path('bacloocrm_postulermission', {'id': mission.id}) }}">Postuler</span></a></span></center>
                                    {% else %}
                                            <center><span>Déjà postulé</span></center>
                                    {% endif %}
                                </div>
                                {% if compteur == 4 %}
                                </tr>
                                
                                {% else %}
                                </td>
                                    {% if compteur == 1 or compteur == 2 %}
                                    <td width="15">
                                    </td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            </table>
                            </div>
                        </div>
                            {#Fin affichage mission#}
                    </div>

                    <div class="tab-pane fade in active" id="tab1default">
                        {#Affichage profil#}                        
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form class="form-horizontal" action="{{ path('bacloocrm_employe') }}"  method="post" {{form_enctype(form) }}>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                {{ form_widget(form.nom, {'value': userdetails.nom, 'attr' : { 'class' : 'form-control', 'placeholder' : 'Nom' } })  }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                {{ form_widget(form.prenom, {'value': userdetails.prenom, 'attr' : { 'class' : 'form-control adresse2', 'placeholder' : 'Prénom' } })  }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                {{ form_widget(form.datenaissance, {'value': userdetails.datenaissance|date('d/m/Y'), 'attr' : { 'class' : 'form-control datepicker', 'placeholder' : 'Date de naissance' } })  }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                {{ form_widget(form.email, {'value': userdetails.email, 'attr' : { 'class' : 'form-control', 'placeholder' : 'email' } })  }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                {{ form_widget(form.rib, {'value': userdetails.rib, 'attr' : { 'class' : 'form-control', 'placeholder' : 'RIB' } })  }}
                                            </div>
                                        </div>
                                    </div>
                                    {% if documents is empty %}
                                        {# Dropzone #}
                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <center><div class="dropzone col-md-6" id="my-awesome-dropzone" style="border-style: dashed solid; height:80px; width:200px;"><div class="dz-message" data-dz-message><span>Cliquez ou glissez votre photo ici</span></div></div></center>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row clearfix">
                                            <div class="col-md-12">
                                                <table>
                                                    <tr>
                                                        {% for document in documents %}
                                                            <td>
                                                                <img width="200" src="{{ asset('uploads/employe/'~ userdetails.id ~'/' ~ document.nom ~ '') }}">
                                                            </td>
                                                            <td class="col-md-10 pull-right">
                                                                <a href="{{ path('bacloocrm_removedocument', {'iddoc': document.id, 'codedocument': userdetails.id, 'type':'employe' }) }}"><i class="fa fa-times"></i></a>
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <br>
                                    <button type="submit" class="btn btn-info">
                                        Enregistrer
                                    </button>
                                </form>
                            </div>
                        </div>
                        {#Fin affichage profil#}

                        {# Affichage missions passées #} 
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Liste de vos missions passées
                                </h3>
                            </div>
                            <div class="panel-body"> 
                            {% set compteur = 0 %}
                            <table>
                            {% for mission in missionpasse %}
                                {% set compteur = compteur +1 %}
                                {% if compteur == 1 %}
                                <tr><td width="528">                    
                                {% else %}
                                <td width="528">
                                {% endif %}                          
                                <div class="panel panel-default">
                                    <div style="height:270px"class="panel-body">
                                    <table cellpadding="4" style="font-size:18px;">
                                            <tr>
                                                <td colspan="3"> 
                                                    <center><h3><b>{{mission.titre}}</b></h3></center>                                                                                  
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{mission.datedebut}}
                                                </td>
                                                <td style="width:15px"></td>
                                                <td>
                                                    {{mission.adresse}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{mission.datefin}}
                                                </td>
                                                <td style="width:15px"></td>
                                                <td>
                                                    {{mission.codepostal}}
                                                </td>
                                            </tr>    
                                            <tr>
                                                <td>
                                                    {{mission.description}}
                                                </td>
                                                <td style="width:15px"></td>
                                                <td>
                                                    {{mission.ville}}
                                                </td>
                                            </tr>          
                                            <tr>
                                                <td>
                                                    {{mission.dresscode}}
                                                </td>
                                                <td style="width:15px"></td>
                                                <td>
                                                    {{mission.raisonsociale}}
                                                </td>
                                            </tr>                             
                                    </table>
                                    </div>
                                    <center><span>Mission terminée</span></center>
                                </div>
                                {% if compteur == 3 %}
                                </td>
                                </tr> 
                                {% set compteur = 1 %}  
                                
                                {% else %}
                                </td>
                                    {% if compteur == 1 or compteur == 2 %}
                                    <td width="15">
                                    </td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            </table>
                            <br><br>
                            </div>
                        </div>                      
                        {# Fin affichage missions passées #}   
                    </div>

                    <div class="tab-pane fade" id="tab3default">
                    {# Affichage missions du jour #} 
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Missions du jour
                                </h3>
                            </div>
                            <div class="panel-body"> 
                            {% set compteur = 0 %}
                            <table>
                            {% for mission in missionjour %}
                                {% set compteur = compteur +1 %}
                                {% if compteur == 1 %}
                                <tr><td width="528">                    
                                {% else %}
                                <td width="528">
                                {% endif %}                          
                                <div class="panel panel-default">
                                    <div style="height:270px"class="panel-body">
                                    <table cellpadding="4" style="font-size:18px;">
                                            <tr>
                                                <td colspan="3"> 
                                                    <center><h3><b>{{mission.titre}}</b></h3></center>                                                                                  
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{mission.datedebut}}
                                                </td>
                                                <td style="width:15px"></td>
                                                <td>
                                                    {{mission.adresse}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{mission.datefin}}
                                                </td>
                                                <td style="width:15px"></td>
                                                <td>
                                                    {{mission.codepostal}}
                                                </td>
                                            </tr>    
                                            <tr>
                                                <td>
                                                    {{mission.description}}
                                                </td>
                                                <td style="width:15px"></td>
                                                <td>
                                                    {{mission.ville}}
                                                </td>
                                            </tr>          
                                            <tr>
                                                <td>
                                                    {{mission.dresscode}}
                                                </td>
                                                <td style="width:15px"></td>
                                                <td>
                                                    {{mission.raisonsociale}}
                                                </td>
                                            </tr> 
                                            <tr>                            
                                    </table>
                                    </div>
                                    <center><span>Mission à venir</span></center>
                                </div>
                                {% if compteur == 3 %}
                                </td>
                                </tr> 
                                {% set compteur = 1 %}  
                                
                                {% else %}
                                </td>
                                    {% if compteur == 1 or compteur == 2 %}
                                    <td width="15">
                                    </td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            </table>
                            <br><br>
                            </div>
                        </div>
                    {# Fin affichage missions du jour #}
                    {# Affichage missions à venir #}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Liste des missions à venir
                                </h3>
                            </div>
                            <div class="panel-body"> 
                            {% set compteur = 0 %}
                            <table>
                            {% for mission in missionfutur %}
                                {% set compteur = compteur +1 %}
                                {% if compteur == 1 %}
                                <tr><td width="528">                    
                                {% else %}
                                <td width="528">
                                {% endif %}                          
                                <div class="panel panel-default">
                                    <div style="height:270px"class="panel-body">
                                    <table cellpadding="4" style="font-size:18px;">
                                            <tr>
                                                <td colspan="3"> 
                                                    <center><h3><b>{{mission.titre}}</b></h3></center>                                                                                  
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{mission.datedebut}}
                                                </td>
                                                <td style="width:15px"></td>
                                                <td>
                                                    {{mission.adresse}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{mission.datefin}}
                                                </td>
                                                <td style="width:15px"></td>
                                                <td>
                                                    {{mission.codepostal}}
                                                </td>
                                            </tr>    
                                            <tr>
                                                <td>
                                                    {{mission.description}}
                                                </td>
                                                <td style="width:15px"></td>
                                                <td>
                                                    {{mission.ville}}
                                                </td>
                                            </tr>          
                                            <tr>
                                                <td>
                                                    {{mission.dresscode}}
                                                </td>
                                                <td style="width:15px"></td>
                                                <td>
                                                    {{mission.raisonsociale}}
                                                </td>
                                            </tr> 
                                            <tr>                             
                                    </table>
                                    </div>
                                    <center><span>Mission à venir</span></center>
                                </div>
                                {% if compteur == 3 %}
                                </td>
                                </tr> 
                                {% set compteur = 1 %}  
                                
                                {% else %}
                                </td>
                                    {% if compteur == 1 or compteur == 2 %}
                                    <td width="15">
                                    </td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            </table>
                            <br><br>
                            </div>
                        </div>
                    {# Fin affichage missions à venir #}
                    </div>
                    
                </div>
        </div>
		<div class="col-md-12">
        </div>
    </div>

<script>
  $( function() {
	$( ".datepicker" ).datepicker({
		dateFormat: 'dd/mm/yy', 
		firstDay:1			
	});
  } );
</script>	

<script>
    // init,configure dropzone
    Dropzone.autoDiscover = true;
    var dropzone_default = new Dropzone(".dropzone", {
        url: '{{ path('bacloocrm_dropzone', {'codedocument':userdetails.id, 'type':'employe'}) }}',
        maxFiles: 1,
        dictMaxFilesExceeded: 'Only 1 Image can be uploaded',

        acceptedFiles: '.jpg, .jpeg, .png, .bmp, .pdf',
        maxFilesize: 3,  // in Mb
        addRemoveLinks: true,
        init: function () {
            this.on("maxfilesexceeded", function(file) {
                this.removeFile(file);
            });
            this.on("sending", function(file, xhr, formData) {
                // send additional data with the file as POST data if needed.
                // formData.append("key", "value");  
            });
            this.on("success", function() {
                if (this.getQueuedFiles().length == 0 && this.getUploadingFiles().length == 0) {
                        location.reload();
                }
            });
        }
    });
</script>
{% endblock %}