{% block User_body %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			<h3>Modifier votre mot de passe</h3>
		</h3>
	</div>
	<div class="panel-body">
			<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
			<div class="form-group">
			  <div class="col-md-12">
				<div class="input-group">
				  <span class="input-group-addon large">Actuel</span>
				  {{ form_widget(form.current_password, { 'attr' : { 'class' : 'form-control' } })  }}
				</div>    
			  </div>
			  {{ form_errors(form.current_password) }} 
			</div>

			<br><br>

			<div class="form-group">
			  <div class="col-md-12">
				<div class="input-group">
				  <span class="input-group-addon large">Nouveau        </span>
				  {{ form_widget(form.new.first, { 'attr' : { 'class' : 'form-control' } })  }}
				</div>    
			  </div>
			  {{ form_errors(form.new.first) }} 
			</div>

			<br><br>
				
			<div class="form-group">
			  <div class="col-md-12">
				<div class="input-group">
				  <span class="input-group-addon large">Confirmation</span>
				  {{ form_widget(form.new.second, { 'attr' : { 'class' : 'form-control' } })  }}
				</div>    
			  </div>
			 {{ form_errors(form.new.second) }}  
			</div>

			<br><br>

			{{ form_row(form._token) }}
				<div>
					<input type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
				</div>
			</form>	
	</div>
</div>

{% endblock %}